@{
    var CustomerList = ViewBag.CustomerList as List<PRELIM_LAB3_BSIT31E1_joshua_Villafuerte.Models.Customer>;
}

<h2>Customer List</h2>
<ul>
    @foreach (var customer in CustomerList)
    {
        if (customer is PRELIM_LAB3_BSIT31E1_joshua_Villafuerte.Models.VipCustomer vip)
        {
            <li>@vip.GetDescription()</li>
        }
        else
        {
            <li>@customer.GetDescription()</li>
        }
    }
</ul>
